# Excel temp / backup files
~$.*
*.xls
*.xlsx
*.xlsm.tmp
*.xlsb
*.xlk
*.bak

# VBA / Office junk
*.exd
*.tmp

# Thumbs & system files
Thumbs.db
Desktop.ini
.DS_Store

# Personal / sensitive
*.xlsm
!Schedule-AutoFiller.xlsm
